<!--
/**
 * タイトル: ログアウト画面
 * 説明    : ログアウト画面を表示します
 */
-->
<form name="main">

<div align="center">
<br>
<table width="40%">
    <tr>
        <td align="center">ログアウトしました。</td>
    </tr>
    <tr>
        <td></td>
     </tr>
</table>
</div>

<div align="center">
    <p><input style="width: 76px; height: 22px" type="button" value="閉じる" name="close" onClick="window.close()"></p>
</div>

</form>
