<!-- 表題 -->
<div style="top:5px;left:0px;position:absolute">
<table border="0" width="970px">
    <tr>
        <td class="title"><%= label :login, :table_name  %>編集</td>
    </tr>
</table>
  <P><INPUT class="GamenCD" disabled readonly value="logins" name="GamenCD" tabindex=-1 ></P>
 </div>

<%= render 'form' %>
</div>
